/*top*/
.pt-page-moveToTop {
  animation: moveToTop 0.6s ease both;
}
.pt-page-moveFromBottom {
  animation: moveFromBottom 0.6s ease both;
}
/*bottom*/
.pt-page-moveToBottom {
  animation: moveToBottom 0.6s ease both;
}
.pt-page-moveFromTop {
  animation: moveFromTop 0.6s ease both;
}
/*left*/
.pt-page-moveToLeft {
  animation: moveToLeft 0.6s ease both;
}
.pt-page-moveFromRight {
  animation: moveFromRight 0.6s ease both;
}
/*right*/
.pt-page-moveToRight {
  animation: moveToLeft 0.6s ease both;
}
.pt-page-moveFromLeft {
  animation: moveFromRight 0.6s ease both;
}
@keyframes moveToTop {
  to {
    transform: translateY(-100%);
  }
}
@keyframes moveFromBottom {
  from {
    transform: translateY(100%);
  }
}
@keyframes moveToBottom {
  to {
    transform: translateY(100%);
  }
}
@keyframes moveFromTop {
  from {
    transform: translateY(-100%);
  }
}
@keyframes moveToLeft {
  to {
    transform: translateX(-100%);
  }
}
@keyframes moveFromRight {
  from {
    transform: translateX(100%);
  }
}
@keyframes moveToRight {
  to {
    transform: translateX(100%);
  }
}
@keyframes moveFromLeft {
  from {
    transform: translateX(-100%);
  }
}
.pt-page-moveIconUp {
  animation: moveIconUp 1.5s ease both infinite;
}
@keyframes moveIconUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}
.pt-page-moveCircle {
  animation: moveCircle 1.5s ease both;
}
@keyframes moveCircle {
  0% {
    transform: translateY(-70%);
    opacity: 0.3;
  }
  30% {
    transform: translateY(10%);
    opacity: 0.7;
  }
  60% {
    transform: translateY(-30%);
    opacity: 0.8;
  }
  70% {
    transform: translateY(-10%);
    opacity: 1;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
.pt-page-scaleUp {
  animation: scaleUp 0.5s ease both;
}
@keyframes scaleUp {
  from {
    transform: scale(0.2);
  }
}
.pt-page-flipInLeft {
  animation: flipInLeft 0.6s ease both;
}
@keyframes flipInLeft {
  from {
    transform: rotateY(90deg);
  }
}
